section.home .sectionTitle {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
}

.viewMore {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}

.viewMore:hover {
  color: var(--second);
}
